
.header {
    padding: 2rem;
    background-color: #00c853;
    color: white;
  }

  .nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navList li {
    margin-left: 20px;
  }
  
  .navList a {
    color: white;
    text-decoration: none;
  }
  
  .navList a:hover {
    text-decoration: underline;
  }